<div class="container" id="order_container">
    <h3>Your order</h3>
    <form class="col s12" ng-submit="sendData()">
        <div id="selects_container">
            <div input-field class="select-div">
                <legend>1. Choose brand</legend>
                <select class="browser-default" ng-model="orderModel.data" material-select>
                    <option value="">Select brand</option>
                    <option ng-repeat="item in selectsDataArr" ng-value="item">{{item.brand}}</option>
                </select>
            </div>
            <div input-field class="select-div">
                <legend>2. Choose model</legend>
                <select class="browser-default" ng-model="orderModel.model" ng-disabled="!orderModel.data" material-select>
                    <option value="">Select model</option>
                    <option ng-repeat="item in orderModel.data.model track by $index" ng-value="item">{{item}}</option>
                </select>
            </div>
            <div input-field class="select-div">
                <legend>3. Choose service</legend>
                <select class="browser-default" ng-model="orderModel.service" ng-disabled="!orderModel.model" material-select>
                    <option value="">Select service</option>
                    <option ng-repeat="item in selectsServicesArr" ng-value="item.service">{{item.service}}</option>
                </select>
            </div>
        </div>
        <div id="inputs_container">
            <div input-field class="input-div">
                <label for="first_name">First name</label>
                <input type="text" id="first_name" ng-model="orderModel.firstName">
            </div>
            <div input-field class="input-div">
                <label for="phone_number">Phone</label>
                <input type="text" id="phone_number" ng-model="orderModel.phone">
            </div>
            <div input-field class="input-div">
                <label for="inputCreated">Date</label>
                <input ng-model="orderModel.date" input-date type="text" name="created" id="inputCreated" format="dd/mm/yyyy" months-full="{{ month }}" months-short="{{ monthShort }}" weekdays-full="{{ weekdaysFull }}" weekdays-short="{{ weekdaysShort }}" weekdays-letter="{{ weekdaysLetter }}" disable="disable" min="{{ minDate }}" first-day="1">
            </div>
        </div>
        <div id="submit_container">
            <button class="btn waves-effect waves-light" type="submit" name="action" message="{{messageForToast}}" duration="3000" toast='click'>Send
            </button>
        </div>
    </form>
</div>
