/* Phones ----------- */

@media only screen and (min-width: 0px) and (max-width: 767px) {
    /* html */
    h1 {
    	font-size: 3rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    h5 {
   		font-size: 1.2rem;
	}
	p {
		font-size: 0.7rem;
	}

    /* main nav */
    nav ul a {
	    font-size: 0.6rem;
	}
    nav,
    nav .nav-wrapper i,
    nav a.button-collapse,
    nav a.button-collapse i {
        height: 60px;
        line-height: 60px;
    }
    #logo-container img {
        width: 90px;
        height: 60px;
    }
    /* home slider */
    .slider {
        &.fullscreen {
            height: 350px;
        }
    }
}


/* Tablets ----------- */

@media only screen and (min-width: 768px) and (max-width: 1024px) {}


/* Desktops and laptops ----------- */

@media only screen and (min-width: 1025px) and (max-width: 1599px) {}


/* Large screens ----------- */

@media only screen and (min-width: 1600px) {
    /* html */
    h1 {
    	font-size: 4.5rem;
    }
    h4 {
        font-size: 2.5rem;
    }
    h5 {
   		font-size: 2rem;
	}
	p {
		font-size: 1.1rem;
	}

    /* main nav */
	nav ul a {
	    font-size: 0.9rem;
	}

    nav,
    nav .nav-wrapper i,
    nav a.button-collapse,
    nav a.button-collapse i {
        height: 80px;
        line-height: 80px;
    }
    #logo-container img {
        width: 130px;
        height: 80px;
    }
    /* home slider */
    .slider {
        &.fullscreen {
            height: 550px;
        }
    }
}
