#admin_container {
    width: 90%;
    min-height: 300px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    & h3 {
        margin: 20px 0;
    }
    & label {
        font-family: $orbitron;
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.75rem;
    }
    & button {
        width: 75px;
        height: 25px;
        margin-left: 10px;
        padding: 0;
        font-size: 1rem;
        line-height: 1.75rem;
        vertical-align: text-bottom;
    }
    & .btn {
        background-color: $red_darken_2;
        &:hover {
            background-color: $red_darken_1;
        }
    }
    & #name_column_container {
        & .col {
            border-bottom: 1px solid black;
            text-align: center;
            & span {
            	font-size: 1.1rem;
                font-weight: 500;
            }
        }
    }
    & #row_container {
        & .col {
            text-align: center;
            & span {
            	font-size: 1rem;
            }
        }
    }
}
