#order_container {
	width: 40%;
	& h3 {
		margin-top: 0;
		padding-top: 20px;
	}
	& .input-field {
		margin-top: 0;
	}
	& #selects_container {
		& .select-div {
			margin-top: 30px;
			& legend {
			    font-family: $orbitron;
			    font-weight: 300;
			    font-size: 1.25rem;	
			    letter-spacing: 0.1rem;			
			}
			& select {
				padding: 10px;
				border: 1px solid $indigo_darken_4;
				color: $indigo_darken_4;			
			    font-family: $orbitron;
			    font-weight: 300;
			    font-size: 1.1rem;	
		    	letter-spacing: 0.2rem;			    
			    cursor: pointer;
			    &:focus {
			    	outline: none;
			    }
			    &:disabled {
			    	color: rgba(0,0,0,.3);
			    	border: 1px solid rgba(0,0,0,.3);
			    }
			}
		}
	}
	& #inputs_container {
		& .input-div {
			margin-top: 10px;
		}	
		& .input-div:first-child {
			margin-top: 30px;
		}	
		& .input-field label:not(.label-icon).active {
			font-size: 1rem;
		}
		& label {
			color: $grey_darken_4;
		    font-family: $orbitron;
		    font-weight: 300;
		    font-size: 1.25rem;	
		    letter-spacing: 0.1rem;			    	
		    cursor: pointer;
		}	
		& input[type=text] {
			color: $indigo_darken_4;
		    font-family: $orbitron;
		    font-weight: 300;
		    font-size: 1.1rem;
		    letter-spacing: 0.2rem;	
		    cursor: pointer;
		}
	}	
	& #submit_container {
		margin-top: 15px;
		margin-bottom: 30px;
        & .btn {
            color: $white;
            background-color: $grey_darken_4;
            font-family: $orbitron;
            letter-spacing: 0.2rem;
            &:hover {
                color: $white;
                background-color: $indigo_darken_4;
            }
        }
	}
}

/* Date picker */
.picker__close, .picker__clear, .picker__today {
	color: #26a69a;
} 
