#profile_container {
	width: 22%;
	& h3 {
		margin: 20px 0;	
	}
	& .card .card-content {
		& h5 {
			margin-top: 0;
		}
		& p {
			display: inline-block;
			margin-right: 10px;
			font-size: 1rem;
		}
	}
}
