#profile_container {
	width: 20%;
	& h3 {
		margin-top: 0;
		padding-top: 20px;		
	}
	& .card .card-content {
		& h5 {
			margin-top: 0;
		}
		& p {
			display: inline-block;
			margin-right: 10px;
			font-size: 1rem;
		}
	}
}
