#secret_container {
    min-height: 300px;
    & p {
    	margin: 0;
    	padding: 0;
    	margin-top: 220px;
        color: $grey_darken_1;
        font-family: $orbitron;
        font-weight: 900;
        font-size: 5rem;
        letter-spacing: 0.4rem;
        text-transform: uppercase;
    }
}
