<div ng-controller="authorizationController">
    <div id="signUpModal" class="modal">
        <div class="modal-content">
            <h3 class="center">Sign Up</h3>
            <form ng-submit="registration()">
                <div id="inputs_container">
                    <div input-field class="input-div">
                        <input ng-model="registrationModel.firstName" id="firstName_input" type="text">
                        <label for="firstName_input">First name</label>
                    </div>
                    <div input-field class="input-div">
                        <input ng-model="registrationModel.lastName" id="lastName_input" type="text">
                        <label for="lastName_input">Last name</label>
                    </div>
                    <div input-field class="input-div">
                        <input ng-model="registrationModel.email" id="email_input" type="email">
                        <label for="email_input">Email</label>
                    </div>
                    <div input-field class="input-div">
                        <input ng-model="registrationModel.password" id="password_input" type="password">
                        <label for="password_input">Password</label>
                    </div>
                    <div class="center" id="btn_container">
                        <button class="btn waves-effect waves-light">Sign Up</button>
                    </div>
            </form>
            <div class="center" id="btn_container">
                <button class="btn waves-effect waves-light modal-close" modal data-target="signInModal">Sign In</button>
            </div>
            </div>
        </div>
